@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");

* {
  font-family: "Manrope", sans-serif;
}

body {
  font-family: "Manrope", sans-serif;
  color: #444444;
}

.container {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  width: 100%;
  padding: 30px;
  background: white;
}

img {
  width: 50%;
}

.container .header-right {
  position: relative;
  padding: 40px;
}
